<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <title>404 Nout Found</title>
    <meta name='viewport' content='initial-scale=1.0' />
    <style>
*{
    padding:0;
    margin:0;
}
.wrapper {
    width: 480px;
    margin: 100px auto;
    padding: 24px 10px;
    text-align: center;
    background-color: #F0F0F0;
    border-radius: 4px;
}

.title {
    font-size: 24px;
    padding: 16px 0;
    color: #636363;
}

.divider {
    width: 80%;
    margin: 4px auto;
    border-top: 1px solid #E0E0E0;
}

.desc {
    font-size: 16px;
    color: #9F9F9F;
}

.action {
    margin-top: 24px;
}
    </style>
</head>
<body>
    <div class="wrapper">
        <div class='title'>你似乎来到了一片荒凉之地</div>
        <div class="divider"></div>
        <div class='desc'>如果你知道去哪﹐全世界都会为你让路</div>
        <div class='action'>
            <a href="/">返回首页</a>
            <a href="javascript:window.history.go(-1)">返回上一页</a>
        </div>
    </div>
</body>
</html>
